{
  "openapi": "3.1.0",
  "info": {
    "title": "MAAM API",
    "description": "API for functionalities of the MAAM platform",
    "contact": {
      "name": "MeVer",
      "url": "https://mever.gr/",
      "email": "manosetro@iti.gr"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "https://www.apache.org/licenses/LICENSE-2.0"
    },
    "version": "0.9"
  },
  "servers": [
    { "url": "https://mosaic.infalia.com/api", "description": "Server" },
    { "url": "http://localhost:3000", "description": "Local" }
  ],
  "tags": [
    { "name": "Forensics Analysis", "description": "Forensics Analysis API" }
  ],
  "paths": {
    "/workspaces/{workspace_id}": {
      "get": {
        "tags": ["Workspace Management"],
        "summary": "Get Workspace",
        "description": "Get Workspace By ID",
        "operationId": "getWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Workspace" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Workspace Management"],
        "summary": "Update Workspace",
        "description": "Update Workspace By ID",
        "operationId": "updateWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Workspace" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Workspace" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Workspace Management"],
        "summary": "Delete Workspace",
        "description": "Delete Workspace By ID",
        "operationId": "deleteWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "object" } } }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/users": {
      "get": {
        "tags": ["Workspace Management"],
        "summary": "Get Workspace Users",
        "description": "Get Workspace Users",
        "operationId": "getWorkspaceUsers",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 10 }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "default": ["username.asc"],
              "items": { "type": "string" }
            }
          },
          {
            "name": "active",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseWorkspaceUser"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Workspace Management"],
        "summary": "Add Users To Workspace",
        "description": "Add Users To Workspace",
        "operationId": "addUsersToWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "type": "string" } }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Workspace" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Workspace Management"],
        "summary": "Remove User From Workspace",
        "description": "Remove User From Workspace",
        "operationId": "removeUserFromWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "object" } } }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/users/{username}": {
      "put": {
        "tags": ["Workspace Management"],
        "summary": "Add User To Workspace",
        "description": "Add User To Workspace",
        "operationId": "addUserToWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Workspace" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Workspace Management"],
        "summary": "Remove User From Workspace",
        "description": "Remove User From Workspace",
        "operationId": "removeUserFromWorkspace_1",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "object" } } }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/assets": {
      "put": {
        "tags": ["Workspace Management"],
        "operationId": "moveMultipleAssetsToWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "type": "array", "items": { "type": "string" } }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AssetDetails" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/assets/{asset_key}": {
      "put": {
        "tags": ["Workspace Management"],
        "operationId": "moveAssetToWorkspace",
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetDetails" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/_decline_join/{request_id}": {
      "put": {
        "tags": ["Workspace Management"],
        "summary": "Decline Join Request",
        "description": "Decline a Join Request",
        "operationId": "declineJoinRequest",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/_decline": {
      "put": {
        "tags": ["Workspace Management"],
        "summary": "Decline Workspace Invitation",
        "description": "Decline Workspace Invitation",
        "operationId": "declineWorkspaceInvitation",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/_ask_to_join": {
      "put": {
        "tags": ["Workspace Management"],
        "summary": "Ask To Join a Workspace",
        "description": "Ask To Join a Workspace by workspace id",
        "operationId": "askToJoinWorkspace",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JoinWorkspaceRequest"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/_accept_join/{request_id}": {
      "put": {
        "tags": ["Workspace Management"],
        "summary": "Accept Join Request",
        "description": "Accept a Join Request",
        "operationId": "acceptJoinRequest",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkspaceUser" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/_accept": {
      "put": {
        "tags": ["Workspace Management"],
        "summary": "Accept Workspace Invitation",
        "description": "Accept Workspace Invitation",
        "operationId": "acceptWorkspaceInvitation",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Workspace" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/users": {
      "get": {
        "tags": ["User Management"],
        "summary": "Get Users",
        "description": "Get Users",
        "operationId": "getUsers",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 10 }
          },
          {
            "name": "enabled",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "verified",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "User Not Authenticated .",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "User returned successfully.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/PagedResponseUser" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["User Management"],
        "summary": "Update User",
        "description": "Update current user",
        "operationId": "updateUser",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserUpdate" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "User Not Found.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "User updated successfully.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["User Management"],
        "summary": "Delete User",
        "description": "Delete User Account",
        "operationId": "deleteUser",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "User Not Found.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "User forbidden.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "204": { "description": "User deleted successfully." }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/users/{username}": {
      "get": {
        "tags": ["User Management"],
        "summary": "Get User By Username",
        "description": "Get User By Username",
        "operationId": "getUserByUsername",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["User Management"],
        "summary": "Update User by username",
        "description": "Update a User by username. If the authenticated user is an admin, it can update any other user's status (verified, enabled, role).Otherwise, they can only update their own fields (firstname, lastname, organization).",
        "operationId": "updateUserByUsername",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserUpdate" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "User Not Found.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "User updated successfully.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/users/{username}/_enable": {
      "put": {
        "tags": ["User Management"],
        "summary": "Enable User",
        "description": "Enable User. Only admins can perform this.",
        "operationId": "enableUser",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "User Not Found.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "401": {
            "description": "Unauthorized action.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          },
          "200": {
            "description": "User enabled successfully.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/users/{username}/_disable": {
      "put": {
        "tags": ["User Management"],
        "summary": "Disable User",
        "description": "Disable User. Only admins can perform this.",
        "operationId": "disableUser",
        "parameters": [
          {
            "name": "username",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "User Not Found.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "401": {
            "description": "Unauthorized action.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          },
          "200": {
            "description": "User disabled successfully.",
            "content": {
              "*/*": { "schema": { "$ref": "#/components/schemas/User" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/users/updateAdminRole": {
      "put": {
        "tags": ["User Management"],
        "summary": "Update User's admin role",
        "description": "Update User's admin role",
        "operationId": "updateUsersRole",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "User Not Found.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "401": { "description": "Unauthorized action." },
          "200": { "description": "User updated successfully." }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/assets": {
      "get": {
        "tags": ["Asset Management"],
        "summary": "Get a pageable subset of User Assets",
        "description": "Get a pageable subset of User Assets",
        "operationId": "getAssets",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "default": ["created_at.desc"],
              "items": { "type": "string" }
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0,
              "minimum": 0
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10,
              "maximum": 100,
              "minimum": 0
            }
          },
          {
            "name": "media_type",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["IMAGE", "VIDEO", "AUDIO", "TEXT"]
              }
            }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "is_meme",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "is_disturbing",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "is_nsfw",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "ai_generated",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "objects",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "persons",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "min_faces",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "minimum": 0 }
          },
          {
            "name": "max_faces",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "minimum": 0 }
          },
          {
            "name": "min_duration",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "minimum": 0 }
          },
          {
            "name": "max_duration",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "minimum": 0 }
          },
          {
            "name": "min_file_size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "minimum": 0 }
          },
          {
            "name": "max_file_size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64", "minimum": 0 }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PagedResponseAsset" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Asset Management"],
        "summary": "Update asset",
        "description": "Update asset",
        "operationId": "updateAsset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AssetDetails" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Asset to Update Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "User Not Authenticated to update Asset.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "Asset updated successfully",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetDetails" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/assets/{asset_key}/image_region": {
      "put": {
        "tags": ["Asset Management"],
        "summary": "Select and create image region",
        "description": "Select and create image region",
        "operationId": "createAssetRegion",
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AssetRegion" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/assets/{asset_key}/comments": {
      "get": {
        "tags": ["Asset Management"],
        "summary": "Get asset comments",
        "description": "Get asset comments",
        "operationId": "getAssetComments",
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 10 }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseComment"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Asset Management"],
        "summary": "Get asset comments",
        "description": "Get asset comments",
        "operationId": "createAssetComments",
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Comment" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Comment" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/assets/{asset_key}/annotations": {
      "get": {
        "tags": ["Asset Management"],
        "summary": "Get asset annotations",
        "description": "Get asset annotations",
        "operationId": "getAssetAnnotations",
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AssetAnnotation" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Asset Management"],
        "summary": "Create a new asset annotation",
        "description": "Create a new asset annotation",
        "operationId": "createAssetAnnotation",
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AssetAnnotation" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetAnnotation" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/assets/{asset_key}/annotations/{annotation_id}": {
      "put": {
        "tags": ["Asset Management"],
        "summary": "Update asset annotation",
        "description": "Update asset annotation",
        "operationId": "updateAssetAnnotation",
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "annotation_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AssetAnnotation" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Asset Management"],
        "summary": "Delete asset annotation",
        "description": "Delete asset annotation",
        "operationId": "deleteAssetAnnotation",
        "parameters": [
          {
            "name": "asset_key",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "annotation_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "204": { "description": "No Content" }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/annotations": {
      "get": {
        "tags": ["Annotations Management"],
        "operationId": "getAnnotations",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 100 }
          },
          {
            "name": "type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ACTIONS",
                "IS_DISTURBING",
                "IS_MEME",
                "IS_NSFW",
                "OBJECTS",
                "PERSONS",
                "TAGS",
                "AI_GENERATED",
                "MANIPULATED"
              ]
            }
          },
          {
            "name": "query",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseAnnotation"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "put": {
        "tags": ["Annotations Management"],
        "operationId": "saveAnnotation",
        "parameters": [
          {
            "name": "annotationDto",
            "in": "query",
            "required": true,
            "schema": { "$ref": "#/components/schemas/Annotation" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Annotation" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/annotations/models/{model_name}": {
      "put": {
        "tags": ["Annotations Management"],
        "operationId": "updateAnnotationModel",
        "parameters": [
          {
            "name": "model_name",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AnnotationModel" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AnnotationModel" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces": {
      "get": {
        "tags": ["Workspace Management"],
        "summary": "Get Workspaces",
        "description": "Get Workspaces for the authenticated user",
        "operationId": "getWorkspaces",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 100 }
          },
          {
            "name": "owned",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "accepted",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean", "default": true }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseWorkspace"
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "tags": ["Workspace Management"],
        "summary": "Create a Workspace",
        "description": "Create a Workspace for the authenticated user",
        "operationId": "createNewWorkspace",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/Workspace" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Workspace" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/join_token": {
      "get": {
        "tags": ["Workspace Management"],
        "summary": "Get Join Token",
        "description": "Get Join Token for workspace",
        "operationId": "getJoinToken",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Token" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "post": {
        "tags": ["Workspace Management"],
        "summary": "Generate Join Token",
        "description": "Generate Join Token for workspace",
        "operationId": "generateJoinToken",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Token" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/workspaces/{workspace_id}/join_token/{token}": {
      "post": {
        "tags": ["Workspace Management"],
        "summary": "Join Workspace With Token",
        "description": "Join Workspace With Token",
        "operationId": "joinWorkspaceWithToken",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WorkspaceUser" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      },
      "delete": {
        "tags": ["Workspace Management"],
        "summary": "Delete Join Token",
        "description": "Delete Join Token",
        "operationId": "deleteJoinToken",
        "parameters": [
          {
            "name": "workspace_id",
            "in": "path",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": { "*/*": { "schema": { "type": "object" } } }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/users/_fixLimits": {
      "post": {
        "tags": ["User Management"],
        "summary": "Fix User Limits",
        "description": "Fix Users Limits",
        "operationId": "fixUserLimits",
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "User Not Authenticated .",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": { "description": "User limits fixed successfully." }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/upload": {
      "post": {
        "tags": ["Upload Management"],
        "summary": "Upload a single asset",
        "description": "Upload a single asset",
        "operationId": "upload",
        "parameters": [
          {
            "name": "description",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetDetails" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }, { "MV_DAM_API": [] }]
      }
    },
    "/upload/media_url": {
      "post": {
        "tags": ["Upload Management"],
        "summary": "Upload an asset by media URL",
        "description": "Upload an asset by media URL",
        "operationId": "uploadByMediaURL",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "source_url",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "description",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetDetails" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }, { "MV_DAM_API": [] }]
      }
    },
    "/upload/external_url": {
      "post": {
        "tags": ["Upload Management"],
        "summary": "Upload an asset by external URL",
        "description": "Upload an asset by external URL",
        "operationId": "uploadByExternalURL",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetDetails" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }, { "MV_DAM_API": [] }]
      }
    },
    "/upload/csv": {
      "post": {
        "tags": ["Upload Management"],
        "summary": "Upload assets by csv file",
        "description": "Upload assets by csv file",
        "operationId": "uploadAssetsByCsvFile",
        "parameters": [
          {
            "name": "media_column",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": { "type": "string", "format": "binary" }
                },
                "required": ["file"]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CsvUploadJob" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }, { "MV_DAM_API": [] }]
      }
    },
    "/upload/batch": {
      "post": {
        "tags": ["Upload Management"],
        "summary": "Upload multiple assets",
        "description": "Upload multiple assets",
        "operationId": "uploadMultipleAssets",
        "parameters": [
          {
            "name": "files",
            "in": "query",
            "required": true,
            "schema": {
              "type": "array",
              "items": { "type": "string", "format": "binary" }
            }
          },
          {
            "name": "descriptions",
            "in": "query",
            "required": true,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": true,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/AssetDetails" }
                }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }, { "MV_DAM_API": [] }]
      }
    },
    "/search/like/region": {
      "post": {
        "tags": ["Search"],
        "summary": "Search assets by visual similarity of a region",
        "description": "Search assets similar to the provided image region",
        "operationId": "searchByRegion",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 0 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32", "default": 10 }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "default": ["score.desc", "created_at.desc"],
              "items": { "type": "string" }
            }
          },
          {
            "name": "term",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "until",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "is_meme",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "is_disturbing",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "is_nsfw",
            "in": "query",
            "required": false,
            "schema": { "type": "boolean" }
          },
          {
            "name": "ai_generated",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "action",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "objects",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "persons",
            "in": "query",
            "required": false,
            "schema": { "type": "array", "items": { "type": "string" } }
          },
          {
            "name": "min_faces",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "max_faces",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int32" }
          },
          {
            "name": "min_duration",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "max_duration",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "min_file_size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "max_file_size",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": { "type": "string" }
          },
          {
            "name": "similarity_threshold",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "format": "float", "default": 0.835 }
          },
          {
            "name": "workspace_id",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "format": "int64" }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/AssetRegion" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/PagedResponseAsset" }
              }
            }
          }
        },
        "security": [{ "bearerAuth": [] }]
      }
    },
    "/files": {
      "post": {
        "tags": ["Files Management"],
        "summary": "Upload a file",
        "description": "Upload a file to the server",
        "operationId": "uploadFile",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": { "type": "string", "format": "binary" }
                },
                "required": ["image"]
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AssetFileCreation" }
              }
            }
          }
        },
        "security": [{ "   bearerAuth": [] }]
      }
    },
    "/authentication/reset_password": {
      "post": {
        "tags": ["Authentication Management"],
        "summary": "Reset password",
        "description": "Reset password",
        "operationId": "resetPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ResetPasswordForm" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Token" }
              }
            }
          }
        }
      }
    },
    "/authentication/resend_verification_token": {
      "post": {
        "tags": ["Authentication Management"],
        "summary": "Resend verification token",
        "description": "Resend verification token",
        "operationId": "resendVerificationToken",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserForm" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          }
        }
      }
    },
    "/authentication/register": {
      "post": {
        "tags": ["Authentication Management"],
        "summary": "Register User",
        "description": "Register User",
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterForm" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "409": {
            "description": "User already exists.",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "User registered successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          }
        }
      }
    },
    "/authentication/login": {
      "post": {
        "tags": ["Authentication Management"],
        "summary": "Login User",
        "description": "Login User",
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginForm" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "User Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "User logged-in successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Token" }
              }
            }
          },
          "401": {
            "description": "Wrong credentials",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Token" }
              }
            }
          }
        }
      }
    },
    "/authentication/forgot_password": {
      "post": {
        "tags": ["Authentication Management"],
        "summary": "Forgot password",
        "description": "Forgot password",
        "operationId": "forgotPassword",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/UserForm" }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          }
        }
      }
    },
    "/authentication/check_reset_token": {
      "post": {
        "tags": ["Authentication Management"],
        "summary": "Check reset token",
        "description": "Check reset token",
        "operationId": "checkToken",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "*/*": {
                "schema": { "$ref": "#/components/schemas/SimpleMessage" }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": { "schema": { "type": "object" } }
            }
          }
        }
      }
    },
    "/authentication/change_password": {
      "post": {
        "tags": ["Authentication Management"],
        "summary": "Change password",
        "description": "Change password",
        "operationId": "changePassword",
        "requestBody": {
          "content": {
            "application/json": {
[...]
